/*font-family: 'Aleo', serif;*/

html {
    font-family: Aleo, serif;
}


header {
    color: white;
    background-color: black;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}

li {
    padding: 1rem;
    margin: 1rem;
}

nav h1 {
    padding: 1rem;
    margin: 1rem;
}

.socialmedia {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5px;
    width: 5%;
    
    

}




