/*font-family: 'Aleo', serif;*/

html {
    font-family: Aleo, serif;
}

.wrapper {
    width: 1280px;
}

header {
    color: white;
    background-color: black;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}

li {
    padding: 1rem;
    margin: 1rem;
}

nav h1 {
    padding: 1rem;
    margin: 1rem;
}

.about-me {
    display: flex;
    flex-wrap: wrap;
}

.about-me h1 {
    width: 100%;
}

.about-me h2 {
    width: 100%;
}

.about-me p {
    width: 60%;
}

.about-me img {
    width: 40%;
}

.services h1 {
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.learnmore1,
.learnmore2,
.learnmore3 {
    background-color: black;
    color: white;
    border: 8px;
    width: 25%;
    text-align: center;
}

.workimages {
    display: flex;
    flex-wrap: wrap;
}

.workimages :nth-child(1) {
    width: 50%;
}

.workimages :nth-child(2) {
    width: 50%;
}

.workimages :nth-child(3) {
    width: 33.3%;
}

.workimages :nth-child(4) {
    width: 33.3%;
}

.workimages :nth-child(5) {
    width: 33.3%;
}

.socialmedia {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5px;
    width: 5%;
}

footer {
    background-color: #000;
    color: white;
    padding: 5px;
    text-align: center;
}